@import "mixins.scss";


.scene-1 {
  .image-wrapper {
    height: 100%;
    width: 100%;
    transform-origin: 50% 50%;
  }
  
  img {
    height: 100%;
  }

  .scroll-indicator {
    p {
      margin:0;
      line-height: 70px;
    }

    width: 70px;
    height: 70px;
    border-radius: 70px;
    background-color: rgba(50,50,50,0.55);
    font-size: 35px;
    color: #FFF;
    text-align: center;
    line-height: 70px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -35px;
    font-weight: bold;

    -webkit-animation-name: scrollBounce;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-transform-origin: 100% 50%;
    -webkit-animation-timing-function: ease-in-out;

  }
}

.scene-2 {

  .text-wrapper {
    position: absolute;
    top: 30%;
    left: 2%;
  }

  .frase {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .title {
      text-align: center;
      margin: 0;
      padding: 0 10px;
    }

    .quote-group{
      position: absolute;
      top:40%;
      padding: 10px 0;
      background-color: rgba(0,0,0,0.6);
      margin-top: -50px;
    }

    .quote, .quotes {
      font: 400 4.1rem/1.2 'Cookie',sans-serif;
    }

    .from {
      font: 400 3.2rem/1.2 'Asul',Arial,sans-serif;
    }

  }


}

.scene-3  {
  .text-wrapper {
    position: absolute;
    top: 30%;
    left: 2%;
  }
}

.scene-4 {
  .image-wrapper {
    height: 100%;
    text-align: center;
    width: 100%;

    img {
      height: 100%;
    }
  }
}

.scene-5 {
  .image-wrapper {
    height: 100%;
    box-shadow: 0px 0px 20px 3px #222;
    float:right;
    img {
      height: 100%;
    }
  }
}

.scene-6 {

}


.scene-7 {
  .image-wrapper {
    height: 100%;
    text-align: center;
    width: 100%;
    position: absolute;
    top:0;
    left:0;

    img {
      height: 100%;
    }
  }
}

.scene-8 {

  .image-wrapper, .video-wrapper {
    position: absolute;
    top:0;
    left:0;
  }

  .video-wrapper {
    height: 100%;

    video {
      height: 100%;
    }
  }

  .text-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 0;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
  }
  
}

.scene-9 {
  .text-wrapper.title {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 2%;
    margin: 0;
  }

  .fonte {
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 95%;
    margin: 0;
  }

  .text-wrapper.content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: table;
    margin: 0;
    left: 0;
    
    .content-wrapper {
      display: table-cell;
      vertical-align: middle;
      padding: 10px 0;
    }

    .headline {
      background-color: rgba(0,0,0,0.6);
      margin: 0;
      padding: 15px 0;
      line-height: 50px;

      span{
        margin-left: 2%;
      }
    }
    
  }
}

.scene-10 {

  video{
    height: 100%;
  }

}

.scene-11 {

  .image-quote {
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
  }

  .image-quote {
    top: 50%;
    margin-top: -50px;    
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .image-wrapper {
    position: absolute;
    top:0;
    right:0;
  }

  .crop {
    width: 100%;
    height: 100%;

    img {
      height: 100%;
      float: right;
    }
  }

}

.scene-12 {
  

  
}

.scene-13 {
  video {
    height: 100%;
  }

}

.scene-14 {
  .image-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;

    img {
      height: 100%;
    }
  }
}

.scene-15{
  .image-quote {
    position: absolute;
    width: 100%;
    bottom: 0%;
    margin-top: -50px;
    background-color: rgba(0,0,0,0.5);
    padding: 15px 0; 
  }

  p.quote{
    font: 400 4.2rem/1.2 'Cookie',sans-serif;
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .image-wrapper {
    position: absolute;
    top:0;
    right:0;
  }
}

.scene-16{
  video {
    height: 100%;
  }

}

.scene-17 {
}


.scene-18{
 video {
  height: 100%
 }

}

.scene-19{
 video {
  height: 100%
 }

  .image-wrapper{
    position: absolute;
    top:0;
    left: 0;

    .image-quote {
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: right;
      width: 100%;
      padding: 20px 25px;
      background-color: rgba(0,0,0,0.6);
    }
  }
}

.scene-20 {
  .image-wrapper{
    position: absolute;
    top:0;
    left:0;

  }
}


.scene-21 {
  video {
    height: 100%;
  }
}

.scene-23 {
  video{
    height: 100%;
  }
}

.scene-24 {
  .image-wrapper{
    position: absolute;
    top:0;
    left:0;

  }
}

.scene-25 {
  .image-wrapper{
    position: absolute;
    top:0;
    left:0;

  }
}

.scene-26{
  .image-quote {
    position: absolute;
    width: 100%;
    bottom: 0%;
    margin-top: -50px;
    background-color: rgba(0,0,0,0.5);
    padding: 15px 0; 
  }

  p.quote{
    font: 400 4.2rem/1.2 'Cookie',sans-serif;
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .image-wrapper {
    position: absolute;
    top:0;
    right:0;
  }
}

.scene-27 {
  .image-wrapper{
    position: absolute;
    top:0;
    left:0;

  }
}

.scene-28 {
  video{
    height: 100%;
  }
}

.scene-29 {
  .image-wrapper{
    position: absolute;
    top:0;
    left:0;

  }
}

.scene-30 {
  .image-wrapper{
    position: absolute;
    top:0;
    left:0;
    
    .image-quote {
      width: 100%;
      position: absolute;
      top:2%;
      height: 100px;
      line-height: 100px;
      text-align: center;

      h1{
        margin: 0;
        line-height: 100px;
      }
    }
  }

  .video-wrapper{
    width: 50%;
    height: 50%;
    position:absolute;
    bottom: 0;
    right: 0;
    bottom: 1%;
    right: 25%;
    top: initial;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 5px 1px #ccc;

  }
}

.scene-31 {
  .group-1 .text-wrapper{
    width: 53.5%;
    position: absolute;
    right: 1%;
    height: 100%;
    font: 700 2.6rem/1.2 'Asul',Arial,sans-serif;
    color: #000;
    text-shadow: none;
    line-height: 20px;
    text-align: left;
    display: table;

    p{
      line-height:35px;
      display: table-cell;
      vertical-align: middle;
    }
  }

  .group-2 {
    background-color: #FFF;

    .headline {
      font: 700 2.6rem/1.2 'Asul',Arial,sans-serif;
      color: #000;
      text-shadow: none;
      line-height: 20px;
    }

    .fonte {
      top: initial;
      position:absolute;
      right:3%;
      bottom: 3%;
      text-align: right;
      height: auto;
    }

    .food.title {
      text-align: center;
    }

    .food {
      position:relative;
      height: 10%;
      width: 100%;
      left:0;
      text-align: left;
      
      .text-wrapper {
        display: table;
        height: 100%;
        padding-left: 10px;
        width: 100%;
        overflow: hidden;

        .headline {
          display: table-cell;
          vertical-align: middle;
        }

        .percentual:before {
          content: attr(data-value);
        }
      }

      span.headline {
        color: #FFF;
      }

      img{
        float:right;
        position:absolute;
        right: 0%;
        top:0;
        height: 100%;
        width: auto;
      }
    }


    .pimentao {
      background-color: #DF0101;
    }

    .morango {
      background-color: #FF0000;
    }

    .pepino {
      background-color: #DF3A01;
    } 
      
    .alface{
      background-color: #FF4000;
    }

    .cenoura {
      background-color: #DF7401;
    }

    .abacaxi{
      background-color: #FF8000;
    }

    .beterraba {
      background-color: #DBA901;
    }

    .mamao {
      background-color: #FFBF00;
    } 

    .tomate {
      background-color: #FACC2E;
    }
  }
}

.image-wrapper.fundo {
  height: 100%;
  width: 100%;
  
  img {
    height: 100%;
  }
}


.scene-ending {
  
  .fundo img{
    top: -35%;
  }

  .text-wrapper{
    background: url(../images/dark_wall.png) repeat scroll center center transparent;
    width: 100%;
    height: 75px;
    position: absolute;
    top: 23%;
    left: 0;
    text-align: center;
    text-decoration: underline;
    line-height: 50px;
    box-shadow: 1px 1px 1px 1px #000;
    box-shadow: 0px 3px 5px 1px #000;

    .headline {
      font: 700 3.4rem/1.2 'Asul',Arial,sans-serif;
      line-height: 75px;
    }

  }
}