@charset "UTF-8";

@font-face {
  font-family: "share-font";
  src:url("fonts/share-font.eot");
  src:url("fonts/share-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/share-font.woff") format("woff"),
    url("fonts/share-font.ttf") format("truetype"),
    url("fonts/share-font.svg#share-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "share-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "share-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "a";
}
.icon-twitter-font:before {
  content: "b";
}
.icon-facebook:before {
  content: "c";
}
