@import "mixins.scss";


.scene-1 {
  .wrapper {
    height: 100%;
    width: 100%;
  }
  
  video {
    height: 100%;
  }

  .text-wrapper{
    position: absolute;
    width: 100%;
    height: 100px;

    top: 65%;
    margin-top: -50px;
    left: 5%;

  }

  .scroll-indicator {
    p {
      margin:0;
      line-height: 70px;
    }

    width: 70px;
    height: 70px;
    border-radius: 70px;
    background-color: rgba(50,50,50,0.55);
    font-size: 35px;
    color: #FFF;
    text-align: center;
    line-height: 70px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -35px;
    font-weight: bold;

    -webkit-animation-name: scrollBounce;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-transform-origin: 100% 50%;
    -webkit-animation-timing-function: ease-in-out;

  }
}

.scene-2 {

  .fundo {
    position: absolute;
    top: 0;
    left: 0;
  }

}

.scene-3  {
  .text-wrapper {
    position: absolute;
    top: 30%;
    left: 2%;
  }

  video {
    height: 100%;
  }

  .wilson img{
    float: left;
  }

  .audio-wrapper{
    text-align: center;
    width: 60%;
    position: absolute;
    right: 0;
    bottom: 10%;

    .headline {
      font: 700 3.6rem/1.2 'Asul',Arial,sans-serif;
      color: #FFF;
      text-shadow: 3px 2px 3px #000;
      margin:0;
      padding: 0 15px;
      margin-top: 10px;
      margin-bottom: 5%;
    }
  }
}

.scene-4 {

  .text-wrapper{
    position: absolute;
    width: 100%;
    color: #000;
  }

  .title {
    top:20px;
    height: 80px;
  }

  .group .headline {
    text-shadow: none;
  }

  .content{
    width: 60%;
    right: 0;
    top: 200px;
    text-align: left;
    height: 300px;

    .headline {
      line-height: 80px;
    }

    .first {
      margin-left: 0px;
    }

    .second {
      margin-left: 15px;
    }
  }

  .fonte {
    position: absolute;
    bottom: 5%;
    right: 5%;
    text-align: right;
  }


  .banheiro {
    text-align: right;
  }

  .image-quote {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    text-align: left;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    padding: 10px 0;
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .quote, .quotes {
    font: 400 36px/40px 'Cookie',sans-serif;
    text-shadow: 2px 2px 4px #000;
  }

  .from {
    font: 400 24px/1.25 'Asul',Arial,sans-serif;
  }

}

.scene-5 {
  .wrapper {
    
    position: absolute;
    top: 0;
    left: 0;

    text-align: center;
  }

}

.scene-6 {
  .group {

    img {
      float: left;
      transform-origin: 50% 50%;
      width:50%;
      height:50%;
    }
  }
}


.scene-7 {
  .image-quote {
    position: absolute;
    bottom: 0;
    margin-top: -50px;
    right: 0;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0,0,0,0.7);
    height: 100px;
    text-align: left;
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .quote, .quotes {
    font: 400 36px/40px 'Cookie',sans-serif;
    text-shadow: 2px 2px 4px #000;
  }

  .from {
    font: 400 24px/1.25 'Asul',Arial,sans-serif;
  }
}

.scene-8 {

  .image-wrapper, .video-wrapper {
    position: absolute;
    top:0;
    left:0;
  }

  .text-wrapper{
    position: absolute;
    width: 100%;
    color: #FFF;
  }

  .title {
    top:50px;
    height: 80px;
    text-align: center;
  }

  .content{
    width: 100%;
    left: 0;
    top: 120px;
    text-align: left;
    height: 300px;

    .headline {
      line-height: 50px;
    }

  }

  .fonte {
    position: absolute;
    bottom: 5%;
    right: 5%;
    text-align: right;
  }

  .image-quote {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    text-align: left;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    padding: 10px 0;
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .quote, .quotes {
    font: 400 36px/40px 'Cookie',sans-serif;
    text-shadow: 2px 2px 4px #000;
  }

  .from {
    font: 400 24px/1.25 'Asul',Arial,sans-serif;
  }
}

.scene-9 {
  .text-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    .title{
      margin-left: 0;
    }

    .fonte {
      text-align: right;
      position: absolute;
      bottom: 0;
      width: 95%;
      margin: 0;
    }
  }

  .placa {
    text-align: right;
  }
}

.scene-10 {
  .image-quote {
    position: absolute;
    bottom: 0;
    margin-top: -50px;
    right: 0;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0,0,0,0.7);
    height: 100px;
    text-align: left;
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .quote, .quotes {
    font: 400 36px/40px 'Cookie',sans-serif;
    text-shadow: 2px 2px 4px #000;
  }

  .from {
    font: 400 24px/1.25 'Asul',Arial,sans-serif;
  }

}

.scene-11 {
  .text-wrapper{
    width: 16.586643%;
    top: 43.704347826086957%;
    left: 71.24125874125874%;
    height: 46%;

    .headline {
      margin: 0;
      margin-bottom: 11%;
      font: 700 3rem/1.2 'Asul',Arial,sans-serif;
    }
  }

}

.scene-12 {
  
  video {
    height: 100%;
  }

}

.scene-13 {

}

.scene-14 {
  .grow.height {
    height: auto;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 4px solid #FFF;

    img{
      bottom: 0;
      left: 0;
      height: auto;
      width: 100%;
      position:absolute;
    }
  }
  
  .grow.width {
    height: 100%;
    width: auto;
    right: 0;
    border-left: 4px solid #FFF;

    img {
      top: 0;
      right: 0;
      width: auto;
      height: 100%;
      position:absolute;
    }
  }

}

.scene-15{
  .grow.height {
    height: auto;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 4px solid #FFF;

    img{
      bottom: 0;
      left: 0;
      height: auto;
      width: 100%;
      position:absolute;
    }
  }

  .text-wrapper{
    position: absolute;
    width: 100%;
    color: #FFF;
  }

  .title {
    top:20px;
    height: 80px;

    .headline {
      line-height: 80px;
    }
  }

  .content{
    width: 100%;
    left: 0;
    top: 43%;
    height: auto;
    text-align: left;
    padding: 10px 0;
    background-color: rgba(0,0,0,0.4);

    .first {
      margin-bottom: 2%;
    }

  }
}

.scene-16{
  .wrapper.fundo {
    width:auto;
    height:50%;

    img {
      height: 100%;
      width:auto;
    }
  }

  .first {
    top:0;
    left:0;
    right: 50%;

    img {
      position: absolute;
      bottom:0;
      right: 0;
    }
  }
  .second {
    top:0;
    right:0;
    left: 50%;

    img {
      position: absolute;
      bottom:0;
      left: 0;
    }
  }

  .third {
    top:50%;
    left:0;
    right: 50%;

    img {
      position: absolute;
      top:0;
      right: 0;
    }
  }

  .fourth {
    top:50%;
    right:0;
    left:50%;

    img {
      position: absolute;
      top:0;
      left: 0;
    }
  }

}

.scene-17 {
  .wrapper.fundo {
    width:50%;
    height:100%;

    img {
      width: 100%;
      height: auto;
      position: absolute;
      left:0;
    }
  }

  .wrapper.left {
    top:0;
    left:0;
  }

  .wrapper.right {
    bottom:0;
    left:50%;
  }

  .wrapper.grow {
    height:auto;

    img {
      width: 100%;
      height: auto;
      position: absolute;
    }
  }

  .wrapper.left img{
    top:0;
    left:0;
  }

  .wrapper.right img{
    bottom:0;
    right:0;
  }
}


.scene-18{
 video {
  height: 100%
 }

 .headline {
  text-shadow: none;
  color: #000;
 }

 .title {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;

  .headline{
    margin: 0;
    line-height: 80px;
  }

 }

 .content {
    position: absolute;
    top: 15%;
    height: 80%;
    width: 63%;
    left: 35%;
    text-align: left;
    text-indent: 5%;

    .headline {
      font: 700 2.8rem/1.2 'Asul',Arial,sans-serif;
      margin-bottom: 5%;
    }
 }

}

.scene-19{
 video {
  height: 100%
 }

}

.scene-20 {

  video {
    height: 100%
 }
}


.scene-21 {

  .wrapper.fundo .image-hotspot img.icon-play {
    height: 80px;
    float: left;
  }

  .image-quote {
    position: absolute;
    bottom: 0;
    margin-top: -50px;
    right: 0;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0,0,0,0.7);
    height: 100px;
    text-align: left;
  }

  .image-hotspot {
    text-align: left;
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.6rem/1.2 'Asul',Arial,sans-serif;
  }

  .quote, .quotes {
    font: 400 36px/40px 'Cookie',sans-serif;
    text-shadow: 2px 2px 4px #000;
  }

  .from {
    font: 700 3rem/1.2 'Asul',Arial,sans-serif;
    line-height: 40px;
  }

  .wrapper.first {
    width: 50%;
    left:0;
    transform-origin: 50% 50%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .wrapper.second {
    width: 50%;
    left:50%;
    transform-origin: 50% 50%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.scene-22 {

}

.scene-23 {
  .grow.second {
    height:auto;
    width: 100%;
    bottom:0;
    left:0;
    border-top: 4px solid #FFF;

    img {
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    
  }

  .grow.third {
    height: 100%;
    width: auto;
    top:0;
    left:0;
    right:50%;

    img {
      height: 100%;
      width: auto;
      position:absolute;
      left: 0;
      top: 0;
    }
  }

  .grow.fourth {
    height: 100%;
    width: auto;
    top:0;
    left:50%;
    right:0;

    img {
      height: 100%;
      width: auto;
      position:absolute;
      right: 0;
      top: 0;
    }
  }
}

.scene-24 {

  .first, .second {
    width: 65.55944055944056%;
    height: 100%;
  }

  .headline {
  text-shadow: none;
  color: #000;
 }

 .title {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 3%;
  left: 0;

  .headline{
    margin: 0;
    line-height: 80px;
  }

 }

 .first {
   .content {
      position: absolute;
      top: 21%;
      height: 80%;
      width: 100%;
      left: 10%;
      text-align: left;

      .headline {
        font: 700 2.8rem/1.2 'Asul',Arial,sans-serif;
        margin-bottom: 5%;
      }
   }

 }

 .second {
    .content {
      position: absolute;
      top: 21%;
      height: 80%;
      width: 50%;
      left: 5%;
      text-align: left;

      .headline {
        font: 500 2.9rem/1.2 'Asul',Arial,sans-serif;
        margin-bottom: 5%;
      }


      .headline.header {
        font: 700 3.2rem/1.2 'Asul',Arial,sans-serif
      }
    }

    .content.right {
      left:55%;
    }

    .fonte {
      position: absolute;
      bottom: 5%;
      left: 0%;
      font: 700 3.2rem/1.2 'Asul',Arial,sans-serif;
    }

 }



}

.scene-25 {

  .wrapper.fundo .image-hotspot img.icon-play {
    height: 80px;
  }

  .image-quote {
    position: absolute;
    bottom: 0;
    margin-top: -50px;
    right: 0;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0,0,0,0.7);
    height: 100px;
    text-align: left;
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .quote, .quotes {
    font: 400 36px/40px 'Cookie',sans-serif;
    text-shadow: 2px 2px 4px #000;
  }

  .from {
    font: 400 24px/1.25 'Asul',Arial,sans-serif;
  }

  .image-hotspot {
    text-align: left;
  }
}

.scene-26{
  .image-quote {
    position: absolute;
    width: 65%;
  }

  .image-quote {
    top: 10%;
    margin-top: -50px;    
  }

  p.quote{
    font: 400 4.5rem/1.2 'Cookie',sans-serif;
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .image-wrapper {
    position: absolute;
    top:0;
    right:0;
  }
}

.scene-ending {
  
  .back-to-top{
    position: absolute;
    height: 40%;
    width: 100%;
    top:0;

    .content {
      position: absolute;
      bottom: 0;
      left: 0;


    }
    
  }

  .text-wrapper{
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    height: 60%;
    position: absolute;
    top: 30%;
    left: 0;

  }
}


