@import "mixins.scss";

.scene-1 {
  .wrapper {
    height: 100%;
    width: 100%;
  }
  
  video {
    height: 100%;
  }

  .text-wrapper{
    position: absolute;
    width: 100%;
    height: 100px;

    top: 65%;
    margin-top: -50px;
    left: 5%;

  }

  .scroll-indicator {
    p {
      margin:0;
      line-height: 70px;
    }

    width: 70px;
    height: 70px;
    border-radius: 70px;
    background-color: rgba(50,50,50,0.55);
    font-size: 35px;
    color: #FFF;
    text-align: center;
    line-height: 70px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -35px;
    font-weight: bold;

    -webkit-animation-name: scrollBounce;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-transform-origin: 100% 50%;
    -webkit-animation-timing-function: ease-in-out;

  }
}

.scene-2 {

  .fundo {
    position: absolute;
    top: 0;
    left: 0;
  }

  .text-wrapper {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;

    p {
      margin-top: 5%;
    }

    .font{
      text-align: right;
      position: absolute;
      bottom: 5%;
      right: 5%;
      margin: 0;
    }
  }

  .frase {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .title {
      text-align: center;
      margin: 0;
      padding: 0 10px;
    }

    .quote-group{
      position: absolute;
      top:40%;
      height: 100px;
      margin-top: -50px;
    }

    .quote, .quotes {
      font: 400 4.1rem/1.2 'Cookie',sans-serif;
    }

    .from {
      font: 400 3.2rem/1.2 'Asul',Arial,sans-serif;
    }

  }


}

.scene-3  {
  .text-wrapper {
    position: absolute;
    top: 30%;
    left: 2%;
  }

  video {
    height: 100%;
  }
}

.scene-4 {

  .image-quote{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: auto;
    padding: 22px 0;

    background-color: rgba(0,0,0,0.6);
  }

  .text-group {
    .title {
      position: asolute;
      top:0;
      left:0;
      width: 100%;
      padding: 20px 0;
    }

    .content {
      position: absolute;
      left: 0;
      top: 0;
      display: table;
      height: 100%;
      text-align: left;
      width: 100%;

      .content-wrapper{
        display: table-cell;
        vertical-align: middle;

        .headline {
          background-color: rgba(0,0,0,0.6);
          margin: 0;
          padding: 20px 10px;
        }
      }
    }

    .footer {
      position: absolute;
      bottom:3%;
      right: 3%;
      text-align: right; 
    }
  }

  
}

.scene-5 {
  .wrapper {
    
    position: absolute;
    top: 0;
    left: 0;

    text-align: center;
  }
}

.scene-6 {
  .logo-wrapper {
    width: 83%;
    height: 55%;
    right: 0;

    .logo {
      width: 100%;
      height: 100%;
      position: relative;
      
      img {
        position: absolute;
        right: 0;
      }
    }

    .text-wrapper{
      width: 60%;
      display:table;
      padding: 0 1.5%;
      p{
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .headline{
    color: #000;
    text-shadow: 3px 2px 3px #FFF;
  }

  .text-bottom {

    position: absolute;
    bottom: 0;
    width: 83%;
    right: 0;
    height: 10%;
    text-align: center;
  }
}


.scene-7 {
  .image-quote{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: auto;
    padding: 22px 0;

    background-color: rgba(0,0,0,0.6);
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .quote, .quotes {
    font: 400 36px/40px 'Cookie',sans-serif;
    text-shadow: 2px 2px 4px #000;
  }

  .from {
    font: 400 24px/1.25 'Asul',Arial,sans-serif;
  }
}

.scene-8 {

  .image-wrapper, .video-wrapper {
    position: absolute;
    top:0;
    left:0;
  }

  .video-wrapper {
    height: 100%;

    video {
      height: 100%;
    }
  }

  .text-wrapper {
    position: absolute;
    bottom:2%;
    left: 4%;
  }
}

.scene-9 {
  .text-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    .title{
      margin-left: 0;
    }

    .fonte {
      text-align: right;
      position: absolute;
      bottom: 0;
      width: 95%;
      margin: 0;
    }
  }

  .fundo.grow {

    position: absolute;
    width: 100%;
    top:0;
    height: auto;
    bottom:0;
    border-top: 4px solid #fff;

    img{
      position:absolute;
      bottom:0;
      left:0;
      width: 100%;
      height: auto;
    }
  }
}

.scene-10 {

  video{
    height: 100%;
  }

}

.scene-11 {
  .image-quote{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: auto;
    padding: 22px 0;

    background-color: rgba(0,0,0,0.6);
  }

}

.scene-12 {


}

.scene-13 {
 .group {
  img {
    width: 50%;
    height: 50%;
    float: left;
    transform-origin: 50% 50%;
  }
 }

}

.scene-14 {
  .image-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;

    img {
      height: 100%;
    }
  }
}

.scene-15{
  .image-quote {
    position: absolute;
    width: 65%;
  }

  .image-quote {
    top: 10%;
    margin-top: -50px;    
  }

  p.quote{
    font: 400 4.5rem/1.2 'Cookie',sans-serif;
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .image-wrapper {
    position: absolute;
    top:0;
    right:0;
  }
}

.scene-16{
  video {
    height: 100%;
  }
  
  .text-wrapper {
    width:100%;
    height: 23%;
    position: absolute;
    bottom:0;
    left:0;
    display: table;

    
    .headline {
      color: #000;
      text-shadow: none;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.scene-17 {
  .image-quote{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: auto;
    padding: 22px 0;

    background-color: rgba(0,0,0,0.6);
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .quote, .quotes {
    font: 400 36px/40px 'Cookie',sans-serif;
    text-shadow: 2px 2px 4px #000;
  }

  .from {
    font: 400 24px/1.25 'Asul',Arial,sans-serif;
  }
}


.scene-18{
 video {
  height: 100%
 }

}

.scene-19{
 video {
  height: 100%
 }

  .image-wrapper{
    position: absolute;
    top:0;
    left: 0;

    .image-quote {
      position: absolute;
      bottom: 5%;
      right: 3%;
      text-align: right;
    }
  }
}

.scene-20 {
  .image-wrapper{
    position: absolute;
    top:0;
    left:0;

  }
}


.scene-21 {
  .image-quote{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: auto;
    padding: 22px 0;

    background-color: rgba(0,0,0,0.6);
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .quote, .quotes {
    font: 400 36px/40px 'Cookie',sans-serif;
    text-shadow: 2px 2px 4px #000;
  }

  .from {
    font: 400 24px/1.25 'Asul',Arial,sans-serif;
  }
}

.scene-23 {
    .text-wrapper {
      width: 60%;
      height: 86%;
      bottom: 0;
      right: 0;
      position: absolute;
      
      p {
        color: #000;
        text-shadow: 3px 2px 3px #ccc;
        margin:0;
        padding: 0 15px;
        margin-top: 10px;
      }

      .headline {
        font: 700 3.6rem/1.2 'Asul',Arial,sans-serif;
      }

      .quote {
        margin-top: 20px;
        font: 700 4.5rem/1.2 'Cookie',sans-serif;
      }

      .from {
        font: 700 2.8rem/1.2 'Asul',Arial,sans-serif;
      }
    }

    .text-wrapper.first {
      height: 100%;
      display: table;

      .content-wrapper {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .image-quote {
      position: absolute;
      bottom: 3%;
      right: 0%;
      height: 16%;
      text-align: center;
      width: 60%;
    }

    .audio-wrapper{
      text-align: center;
      width: 60%;
      position: absolute;
      right: 0;
      top: 0%;
      height: 100%;
      display: table;

      .content-wrapper{
        display: table-cell;
        vertical-align: middle;
      }

      .headline {
        font: 700 3.6rem/1.2 'Asul',Arial,sans-serif;
        color: #000;
        text-shadow: 3px 2px 3px #ccc;
        margin:0;
        padding: 0 15px;
        margin-top: 10px;
        margin-bottom: 5%;
      }
    }
}

.scene-24 {
  .image-wrapper{
    position: absolute;
    top:0;
    left:0;

  }
}

.scene-25 {

  .text-wrapper{
    position:absolute;
    height:50%;
    width: 62%;
    display: table;

    .content-wrapper {
      display: table-cell;
      vertical-align: middle;
    }

    .headline {
      color: #000;
      text-shadow: none;
      padding: 5px 0;
    }

  }

  .logo {
    top:0%;
    right:3%;
    text-align: right;
  }

  .frase {
    left:2%;
    bottom:0%;
    text-align: left;
  }
}

.scene-26 {
  .image-quote{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: auto;
    padding: 22px 0;

    background-color: rgba(0,0,0,0.6);
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .quote, .quotes {
    font: 400 36px/40px 'Cookie',sans-serif;
    text-shadow: 2px 2px 4px #000;
  }

  .from {
    font: 400 24px/1.25 'Asul',Arial,sans-serif;
  }
}

.scene-27{
  .image-quote {
    position: absolute;
    width: 65%;
  }

  .image-quote {
    top: 10%;
    margin-top: -50px;    
  }

  p.quote{
    font: 400 4.5rem/1.2 'Cookie',sans-serif;
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .image-wrapper {
    position: absolute;
    top:0;
    right:0;
  }
}

.scene-ending {
  
  .fundo img{
    position: relative;
    top: -30%;
    
  }

  .text-wrapper{
    background: url(../images/dark_wall.png) repeat scroll center center transparent;
    width: 100%;
    height: 75px;
    position: absolute;
    top: 23%;
    left: 0;
    text-align: center;
    text-decoration: underline;
    line-height: 50px;
    box-shadow: 1px 1px 1px 1px #000;
    box-shadow: 0px 3px 5px 1px #000;

    .headline {
      font: 700 3.4rem/1.2 'Asul',Arial,sans-serif;
      line-height: 75px;
    }

  }
}


.image-wrapper.fundo {
  height: 100%;
  width: 100%;
  
  img {
    height: 100%;
  }
}
