@import "mixins.scss";

html{
  font-family: 'Asul', sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
  font-size: 7px;
}
html body{
  font-size: 1.868em;
}

body {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  color: #fff;
  background-color: #000;
  font: 2.8rem/1.5 'Quattrocento Sans',Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}

body > div {
  position:fixed;
  top:50%;
  left:50%;
  width:1144px;
  height:643px;
  margin-left: -572px;
  margin-top: -321px;
  background:transparent center no-repeat;
  background-size:cover;
}

.quote, .quotes {
  font: 400 3.9rem/1.2 'Cookie',sans-serif;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px #000;
}

.from {
  font: 400 3.2rem/1.2 'Asul',Arial,sans-serif;
}

.bl {
  border-left: 1px solid #FFF;
}

.bt {
  border-top: 1px solid #FFF;
}

.bb {
  border-bottom: 1px solid #FFF;
}

.br {
  border-right: 1px solid #FFF;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
}

.hidden {
  display: none;
}

h1 {
  margin: 0 0 .2em;
  font: 700 4.8rem/1.2 'Asul',Arial,sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000;
}

.headline {
  color: #fff;
  text-shadow: 3px 2px 3px #000;
}

.bf{
  @include absolute-center(450, 410);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}

.bf img{
  position: absolute;
  width: 220px;
  height: auto;
  top: 10px;
  transform-style: preserve-3d;
  perspective: 400px;
}

.bf img.lwing {
  left: 0px;
}

.bf img.rwing {
  right: 0px;
}


@-webkit-keyframes rflip {
  from {
    -webkit-transform: rotateY(0deg) skewY(0deg);
  }
  to {
   -webkit-transform: rotateY(70deg) skewY(-10deg);
  }
}

@-webkit-keyframes lflip {
  from {
    -webkit-transform: rotateY(0deg) skewY(0deg);
  }
  to {

   -webkit-transform: rotateY(-70deg) skewY(10deg);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes scrollBounce {
  from {
    bottom: 10px;
  }
  to {
    bottom: 15px;
  }
}


.bf img.lwing{
  /*-webkit-transform: rotateY(-70deg) skewY(10deg);*/
  -webkit-animation-name: lflip;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-transform-origin: 100% 50%;
  -webkit-animation-timing-function: ease-in-out;
}

.bf img.rwing{
  -webkit-animation-name: rflip;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-transform-origin: 0% 50%;
  -webkit-animation-timing-function: ease-in-out;
}

.text{
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  text-align: center;
  font-size: 2.5em;
  width: 100%;
  padding: 10px 0;
  font-weight:700;
  font-style: normal;
  text-shadow: 2px 2px 2px #555;
  text-transform: uppercase;
} 

p {
  margin: 0;
}


.theme {
  overflow: hidden;
}

video {
  width: 100%;
  height: auto;
}


.video-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;

  .video-title{
    position: absolute;
    width: 100%;
    height: 100px;

    top: 65%;
    margin-top: -50px;
    left: 5%;

  }

  video {
    position: absolute;
  }
}

.play-icon{
  display: inline-block;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.hotspot-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 1000;
  overflow: hidden;
  background-color: #000;

  video {
    height: 100%;
    width: 100%;
  }

  .close {
    color: #FFF;
    font-size: 30px;
    position: absolute;
    right: 2%;
    cursor: pointer;
    display:none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 40px;
    background-color: rgba(100,100,100,0.7);
    top: 2%;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 1px #000;
  }
}

.hotspot-wrapper:hover .close{
  display: block;
}

.image-hotspot{
  position: absolute;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  height: auto;
  padding: 5px 20px;
  line-height: 100px;
  height:100px;
  bottom: 0%;
  
  img.icon-play{
    cursor: pointer;
    height: 80px;
    width: 80px;
    margin-right: 10px;
    vertical-align: middle;
  }
}


p, .headline {
  margin-left: 20px;
  line-height: 50px;
}

.headline {
  font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
}

.scene {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index:5;

  video {
    height: 100%;
  }
}

.wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.scene-1 {
  .wrapper {
    height: 100%;
    width: 100%;
  }
  
  video {
    height: 100%;
  }

  .text-wrapper{
    position: absolute;
    width: 100%;
    height: 100px;

    top: 65%;
    margin-top: -50px;
    left: 5%;

  }

  .scroll-indicator {
    p {
      margin:0;
      line-height: 70px;
    }

    width: 70px;
    height: 70px;
    border-radius: 70px;
    background-color: rgba(50,50,50,0.55);
    font-size: 35px;
    color: #FFF;
    text-align: center;
    line-height: 70px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -35px;
    font-weight: bold;

    -webkit-animation-name: scrollBounce;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-transform-origin: 100% 50%;
    -webkit-animation-timing-function: ease-in-out;

  }
}

.scene-2 {

  .fundo {
    position: absolute;
    top: 0;
    left: 0;
  }

  .text-wrapper {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;

    p {
      margin-top: 5%;
    }

    .font{
      text-align: right;
      position: absolute;
      bottom: 5%;
      right: 5%;
      margin: 0;
    }
  }

  .frase {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .title {
      text-align: center;
      margin: 0;
      padding: 0 10px;
    }

    .quote-group{
      position: absolute;
      top:40%;
      height: 100px;
      margin-top: -50px;
    }

    .quote, .quotes {
      font: 400 4.1rem/1.2 'Cookie',sans-serif;
    }

    .from {
      font: 400 3.2rem/1.2 'Asul',Arial,sans-serif;
    }

  }


}

.scene-3  {
  .text-wrapper {
    position: absolute;
    top: 30%;
    left: 2%;
  }

  video {
    height: 100%;
  }
}

.scene-4 {

  .text-wrapper{
    position: absolute;
    width: 100%;
    height: 100px;

    top: 65%;
    margin-top: -50px;
    left: 5%;

  }
}

.scene-5 {
  .wrapper {
    
    position: absolute;
    top: 0;
    left: 0;

    text-align: center;
  }
}

.scene-6 {
  .logo-wrapper {
    width: 83%;
    height: 55%;
    right: 0;

    .logo {
      width: 100%;
      height: 100%;
      position: relative;
      
      img {
        position: absolute;
        right: 0;
      }
    }

    .text-wrapper{
      width: 60%;
      display:table;
      padding: 0 1.5%;
      p{
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .headline{
    color: #000;
    text-shadow: 3px 2px 3px #FFF;
  }

  .text-bottom {

    position: absolute;
    bottom: 0;
    width: 83%;
    right: 0;
    height: 10%;
    text-align: center;
  }
}


.scene-7 {
  .image-quote {
    position: absolute;
    top: 9%;
    margin-top: -50px;
    right: 3%;
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .quote, .quotes {
    font: 400 36px/40px 'Cookie',sans-serif;
    text-shadow: 2px 2px 4px #000;
  }

  .from {
    font: 400 24px/1.25 'Asul',Arial,sans-serif;
  }
}

.scene-8 {

  .image-wrapper, .video-wrapper {
    position: absolute;
    top:0;
    left:0;
  }

  .video-wrapper {
    height: 100%;

    video {
      height: 100%;
    }
  }

  .text-wrapper {
    position: absolute;
    bottom:2%;
    left: 4%;
  }
}

.scene-9 {
  .text-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    .title{
      margin-left: 0;
    }

    .fonte {
      text-align: right;
      position: absolute;
      bottom: 0;
      width: 95%;
      margin: 0;
    }
  }
}

.scene-10 {

  video{
    height: 100%;
  }

}

.scene-11 {


}

.scene-12 {


}

.scene-13 {
 .group {
  img {
    width: 50%;
    height: 50%;
    float: left;
    transform-origin: 50% 50%;
  }
 }

}

.scene-14 {
  .image-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;

    img {
      height: 100%;
    }
  }
}

.scene-15{
  .image-quote {
    position: absolute;
    width: 65%;
  }

  .image-quote {
    top: 10%;
    margin-top: -50px;    
  }

  p.quote{
    font: 400 4.5rem/1.2 'Cookie',sans-serif;
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .image-wrapper {
    position: absolute;
    top:0;
    right:0;
  }
}

.scene-16{
  video {
    height: 100%;
  }

}

.scene-17 {
  .image-quote {
    position: absolute;
    top: 80%;
    margin-top: 0;
    left: 5%;
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .quote, .quotes {
    font: 400 36px/40px 'Cookie',sans-serif;
    text-shadow: 2px 2px 4px #000;
  }

  .from {
    font: 400 24px/1.25 'Asul',Arial,sans-serif;
  }
}


.scene-18{
 video {
  height: 100%
 }

}

.scene-19{
 video {
  height: 100%
 }

  .image-wrapper{
    position: absolute;
    top:0;
    left: 0;

    .image-quote {
      position: absolute;
      bottom: 5%;
      right: 3%;
      text-align: right;
    }
  }
}

.scene-20 {
  .image-wrapper{
    position: absolute;
    top:0;
    left:0;

  }
}


.scene-21 {
  .image-quote {
    position: absolute;
    top: 75%;
    margin-top: -50px;
    left: 15%;
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .quote, .quotes {
    font: 400 36px/40px 'Cookie',sans-serif;
    text-shadow: 2px 2px 4px #000;
  }

  .from {
    font: 400 24px/1.25 'Asul',Arial,sans-serif;
  }
}

.scene-23 {
    .text-wrapper {
      width: 60%;
      height: 86%;
      bottom: 0;
      right: 0;
      position: absolute;
      
      p {
        color: #000;
        text-shadow: 3px 2px 3px #ccc;
        margin:0;
        padding: 0 15px;
        margin-top: 10px;
      }

      .headline {
        font: 700 3.6rem/1.2 'Asul',Arial,sans-serif;
      }

      .quote {
        margin-top: 20px;
        font: 700 4.5rem/1.2 'Cookie',sans-serif;
      }

      .from {
        font: 700 2.8rem/1.2 'Asul',Arial,sans-serif;
      }
    }

    .image-quote {
      position: absolute;
      bottom: 2%;
      right: 2%;
      height: 16%;
      text-align: right;
    }

    .audio-wrapper{
      text-align: center;
      width: 60%;
      position: absolute;
      right: 0;
      top: 45%;

      .headline {
        font: 700 3.6rem/1.2 'Asul',Arial,sans-serif;
        color: #000;
        text-shadow: 3px 2px 3px #ccc;
        margin:0;
        padding: 0 15px;
        margin-top: 10px;
        margin-bottom: 5%;
      }
    }
}

.scene-24 {
  .image-wrapper{
    position: absolute;
    top:0;
    left:0;

  }
}

.scene-25 {
  .image-wrapper{
    position: absolute;
    top:0;
    left:0;

  }
}

.scene-26{
  .image-quote {
    position: absolute;
    width: 65%;
  }

  .image-quote {
    top: 10%;
    margin-top: -50px;    
  }

  p.quote{
    font: 400 4.5rem/1.2 'Cookie',sans-serif;
  }

  p{
    margin-left: 20px;
    line-height: 50px;
  }

  .headline {
    font: 700 3.8rem/1.2 'Asul',Arial,sans-serif;
  }

  .image-wrapper {
    position: absolute;
    top:0;
    right:0;
  }
}

.scene-27 {
  .image-wrapper{
    position: absolute;
    top:0;
    left:0;

  }
}

.scene-28 {
  video{
    height: 100%;
  }
}

.scene-29 {
  .image-wrapper{
    position: absolute;
    top:0;
    left:0;

  }
}

.scene-30 {
  .image-wrapper{
    position: absolute;
    top:0;
    left:0;
    
    .image-quote {
      width: 100%;
      position: absolute;
      top:0;
      height: 100px;
      line-height: 100px;
      text-align: center;

      p{
        margin: 0;
        line-height: 100px;
      }
    }
  }

  .video-wrapper{
    width: 50%;
    height: 50%;
    position:absolute;
    bottom: 0;
    right: 0;
  }
}

.image-wrapper.fundo {
  height: 100%;
  width: 100%;
  
  img {
    height: 100%;
  }
}
